/*generell*/
footer a{
    font-weight: 600;
    color: grey;
}

section {
    padding-left: 10px;
}


/*classes*/
.text {
    max-width: 95%;
}


/*id´s*/
#hauptsec {
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
}
#hauptsec h2 {
    text-align: left;
}
#hauptsec p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}
#datennav a{
    color: lightcoral;
}
#datennav li{
    text-align: left;
    display: block; 
}
#navi {
    display: flex;
    text-align: center;
}
#fusszeile {
    text-align: center;
}
#fusszeile p a{
    color: white;
}


/*@media´s*/
@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    #hauptsec h1{
        font-size: 31px;
        hyphens: auto;
    }
    h2 {
        hyphens: auto;
        font-size: 22px;
    }
    #hauptsec p{
        font-size: 18px;
        text-align: left;
    }
    li a{
        font-size: 18px;
        hyphens: auto;
    }
    li{
        font-size: 18px;
        hyphens: auto;
        
    }
    #fusszeile p{
        font-size: 18px;
    }
    #fusszeile a{
        font-size: 18px;
    }
}
@media screen and (min-width) {
    color: white;
    transition: 150ms ease-in-out;
}
@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
}
