#hallod {
    width: 750px;
    max-width: 95%;
}

 #halloa {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

#halloa h2 {
    text-align: left;
}

.abstand img{
    margin-top: 7px;
}

#halloa img {
    width: 320px;
    border: 8px solid black;
    max-width: calc(90%);
}
#halloa p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}

#hallot {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 47px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

#hallot img {
    width: 320px;
    margin-bottom: 7px;
    max-width: calc(90%);
    border: 10px solid black;
}

#hallot p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}

@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2 {
        hyphens: auto;
        font-size: 22px;
    }
    #hallod p{
        font-size: 18px;
        text-align: left;
    }
    p{
        font-size: 18px;
        text-align: left;
    }
    li a{
        font-size: 18px;
    }
    img {
    margin-left: 0px;
    margin: auto;
    margin-right: 0px;
    }
}
@media(max-width: 1270px){
    #halloa img{
        width: 750px;
    }
    #hallot img{
        width: 750px;
    }
}

.hallog {
    display: flex;
    text-align: center;
}

@media screen and (min-width) {
    color: white;
    transition: 150ms ease-in-out;
}
@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
}
nav a:hover {
    color: white;
    transition: 150ms ease-in-out;
}
