/*classes*/
.abstand img{
    margin-top: 7px;
}


/*id´s*/
#text {
    width: 750px;
    max-width: 95%;
}
#seceins {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
#seceins h2 {
    text-align: left;
}
#seceins img {
    width: 320px;
    border: 8px solid black;
    max-width: calc(90%);
}
#seceins p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}
#seczwei {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
#seczwei img {
    width: 320px;
    margin-bottom: 7px;
    max-width: calc(90%);
    border: 10px solid black;
}
#seczwei p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}
#navinterna a{
    color: white;
}
#navi {
    display: flex;
    text-align: center;
}


/*@media´s*/
@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
}
@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2 {
        hyphens: auto;
        font-size: 22px;
    }
    #text p{
        font-size: 18px;
        text-align: left;
    }
    p{
        font-size: 18px;
        text-align: left;
    }
    li a{
        font-size: 20px;
    }
    img {
    margin-left: 0px;
    margin: auto;
    margin-right: 0px;
    }
}
@media screen and (min-width) {
    #titelbild {
        height: 600px;
    }
}
@media(max-width: 1270px){
    #seceins img{
        width: 750px;
    }
    #seczwei img{
        width: 750px;
    }
}
