@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 22px;
        hyphens: auto;
        padding-left: 10px;
    }
    p{
        font-size: 18px;
    }
    li a{
        font-size: 20px;
    }
}

@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
}

.hallog {
    display: flex;
    text-align: center;
}

@media screen and (min-width) {
    #teaser {
        height: 600px;
    }
}

#hart{
    padding-top: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hart h2 {
    margin-bottom: 10px;
}

#seitenende{
    margin-bottom: 10px;
    max-width: calc(90%);
}

#hallof {
    background-color: blue;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: row; 
   
    column-gap: 20px; 
}

/* <div id="halloweltg"><video controls loop muted width="200" autoplay>
                <source src="img/120.mp4" type="video/mp4" />
            </video><p>Michael Vogt - Tuba Solo</p></div> */
#hart img {
    max-width: calc(90%);
    margin-top: 10px;
    width: 700px;
    border: 8px solid black;
}

#hart video{
    max-width: calc(90%);
    width: 400px;
    border: 8px solid black;
}

#hart p {
    margin-top: 0px;
}

#hallod {
    width: 750px;
    max-width: 95%;
}
