#navi {
    display: flex;
    text-align: center;
}

#navlithografie a{
    color: white;
}

#seceins {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
#seceins h2 {
    text-align: left;
}
#seceins img {
    width: 425px;
    border: 10px solid black;
    justify-content: center;
    max-width: calc(90%);
}
#seceins p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}

/*SECZWEI*/
#seczwei {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
#seczwei h2 {
    text-align: left;
}

#seczwei img {
    width: 200px;
    border: 8px solid black;
    margin-bottom: 10px;
    max-width: calc(90%);
}
#seczwei p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}

#secdrei {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
#secdrei h2 {
    text-align: left;
}
#secdrei img {
    margin-left: 90px;
    margin-right: 90px;
    width: 250px;
    border: 8px solid black;
    margin-bottom: 10px;
    max-width: calc(90%);
}
#secdrei p {
    text-align: justify;
    line-height: 130%;
    font-size: 24;
}

#secvier h3 {
    margin-top: 50px;
}

.text {
    width: 750px;
    max-width: 95%;
}

@media screen and (min-width) {
    #titelbild {
        height: 600px;
    }
}
@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
    #seczwei div img{
        width: auto;
    }
}

@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2 {
        hyphens: auto;
        font-size: 22px;
    }
    #secdrei div p{
        font-size: 18px;
        text-align: left;
    }
    #seczwei div p{
        font-size: 18px;
        text-align: left;
    } 
    #seceins div p{
        font-size: 18px;
        text-align: left;
    }
    #navi li a{
        font-size: 20px;
    }
    #secvier h3{
        font-size: 20px;
    }
    #secvier p{
        font-size: 18px;
    }
    #secdrei img {
    margin-left: 0px;
    margin-right: 0px;
    }
}
@media(max-width: 1270px){
    #secdrei img{
        max-height: 750px;
        max-width: 700px;
        max-width: 90%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    #seczwei img {
        width: 356px;
    }
    #seceins img{
        width: 730.8px;
    }
    #secvier h3 {
        margin-top: 20px;
    }
}
