/*@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300&display=swap');*/

/* devanagari */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(u-490qaujRI2Pbsvc_pynQxrQwc.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(u-490qaujRI2Pbsvc_pykgxrQwc.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(u-490qaujRI2Pbsvc_pynAxr.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Halant', sans-serif;
    font-size: 24px;
    color: white;
    background-color: darkslategray;
}
#titelbild {
    width: 100%;
    height: 300px;
}

#titelbild img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ganzenavigation {
    display: flex;
    text-align: center;
}

nav a:hover {
    color: white;
    transition: 150ms ease-in-out;
}
header {
    text-align: center;
}

section {
    text-align: center;
}
nav ul {
    list-style: none;
}
a {
    text-decoration: none;
}
nav ul li a {
    padding-right: 24px;
    padding-left: 24px;
    font-weight: 600;
    color: grey;
}
main {
    background-color: darkolivegreen;
}

#fusszeile {
    text-align: center;
}

footer a{
    font-weight: 600;
    color: grey;
}

footer a:hover {
    color: white;
    transition: 150ms ease-in-out;
}

@media(max-width: 500px){
    #fusszeile p{
        font-size: 18px;
        text-align: center;
        
    }
    #fusszeile a{
        font-size: 18px;
        text-align: center;
    }
}
