@media(max-width: 752px){
    #hallok{
        padding-top: 5px;
    }
}

#hallok {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    flex-direction: row-reverse;
}


@media(max-width: 850px){
    #halloi li{
        text-align: left;
        margin-left: 5px;
    }
}

#hallof {
    background-color: blue;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: row;
    column-gap: 20px;
}

#hallod {
    width: 750px;
    max-width: 95%;
}

.dicker{
    color: lightblue;
}

@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2{
        hyphens: auto;
        font-size: 22px;
    }
    p{
        font-size: 18px;
        text-align: left
    }
    li a{
        font-size: 18px;
    }
}

#halloi {
    width: 750px;
}

@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
}

.hallog {
    display: flex;
    text-align: center;
}

@media screen and (min-width) {
    #teaser {
        height: 600px;
    }
}

nav a:hover {
    color: white;
    transition: 150ms ease-in-out;
}
