@media(max-width: 752px){
    #hauptsec {
        padding-top: 5px;
    }
}

#navveranstaltungen a{
    color: white;
}

#hauptsec {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    flex-direction: row-reverse;
}


@media(max-width: 850px){
    #veranstaltungen li{
        text-align: left;
        margin-left: 5px;
    }
}

.dicker{
    color: lightblue;
}

@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2{
        hyphens: auto;
        font-size: 22px;
    }
    p{
        font-size: 18px;
        text-align: left
    }
    li a{
        font-size: 20px;
    }
    #veranstaltungen li{
        font-size: 18px;
    }
}

#veranstaltungen {
    width: 750px;
}

@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
}

#navi {
    display: flex;
    text-align: center;
}

@media screen and (min-width) {
    #titelbild {
        height: 600px;
    }
}

nav a:hover {
    color: white;
    transition: 150ms ease-in-out;
}
