/*classes*/
.dicker{
    color: lightblue;
}


/*id´s*/
#navveranstaltungen a{
    color: white;
}
#hauptsec {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    flex-direction: row-reverse;
}
#veranstaltungen {
    width: 750px;
}
#navi {
    display: flex;
    text-align: center;
}


/*@media´s*/
@media(max-width: 752px){
    #hauptsec {
        padding-top: 5px;
    }
}
@media(max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2{
        hyphens: auto;
        font-size: 22px;
    }
    p{
        font-size: 18px;
        text-align: left
    }
    li a{
        font-size: 20px;
    }
    #veranstaltungen li{
        font-size: 18px;
    }
}
@media(max-width: 850px){
    #veranstaltungen li{
        text-align: left;
        margin-left: 5px;
    }
}
@media(max-width: 800px){
    nav ul{
        display: none;
        flex-direction: column;
    }
    .element-to-hide{
        display: none;
    }
}
@media screen and (min-width) {
    #titelbild {
        height: 600px;
    }
}
