@media (max-width: 500px){
    h1{
        font-size: 32px;
    }
    h2{
        hyphens: auto;
        font-size: 22px;
    }
    p{
        font-size: 18px;
        text-align: left
    }
    li a{
        font-size: 20px;
    }
}

section {
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    padding-top: 10px;
}

@media screen and (min-width: 800px) {
    #teaser {
        height: 600px;
    }
}

@media(max-width: 500px){
    #hallof h2+p{
        text-align: left;
    }
}

@media(min-width: 850px){
    nav ul{
        flex-direction: column;
    }
    .hallog {
    display: flex;
    text-align: center;
    }
}

 nav a:hover {
    color: white;
    transition: 150ms ease-in-out;
}
